<% if @instances.blank? %>
	<div class="container feature-box">
		<h1> Create An Instance </h1>
		<i class="fa fa-server fa-5x"></i>
		<h2> You don't seem to have any instances </h2>
		<h3> Create One Now with just a Few Clicks ! </h3>
		<a class="btn btn-default signupbutton" href="/instances/new/" style="width: 50% !important;" role="button">Create Instance</a>
	</div>
<% else %>


	<% Array(@instances).each do |inst| %>

		<h1> <%= inst.id %> <%= inst.name %> <%= inst.ip_address %> <%= inst.status %> </h1>
	<% end %>




<% end %>
