<% content_for :head do %>
 	<style>
	  .dropdown-menu {
  		width: 100%;
  		padding: 0px;
  		border-left: 5px;
  		border-right: 5px;
  		}
    .modal-title,.modal-body p{
      text-align: center;
      font-family: 'quicksandbold'
    }
		.dropdown-toggle{
			min-width: 160px;
		}
		.dropdown-item.btn-primary{
			border: 0px;
			border-radius: 0px;
		}

  	.dropdown-item.btn,.cancel.btn-default,.destroy.btn{
  		width: 100% !important;
  	}
    .dropdown-item.destroy.btn{
      max-width:  160px;
    }
    .Active{
      color: #26A65B !important;
    }
    .New,.Starting,.Restarting,.Shuttingdown,.Resizing{
      color: #F57C00 !important;
    }
    .Def{
      font-family: 'quicksandbold' !important;ol;;;;
      color: #D91E18;
    }
    /*tablecss*/
    .theader>th{
      text-align: center;
      font-family: 'quicksandbold';
      font-size: 135%;
      color: #535151;
    }
    .trow>td{
      font-family: 'quicksandregular';
      font-size: 120%;
      font-weight: 600;
      vertical-align: middle !important;
    }
    .instname{
      font-family: 'quicksandbold';
      color: #337ab7;
    }
    .instdetails{
      font-family: 'quicksandlight';
      font-size: 80%;
    }
 	</style>
  <script>
    $(document).ready(function(){
      var autoRefresh = setInterval(function(){$('.instancelist').load('/api/get/instances');},20000);
    });
  </script>
<% end %>
<div class="container instancelist feature-box">
  <%= render 'instances/shared/index' %>
</div>
