<div class="btn informhigh sizes">
  <div class="dis prices text">
    <h3><sup>$</sup>22/Month</h3>
  </div>
  <div class="specs">
    <ul>
      <li><span>2 GB</span> RAM</li>
      <li><span>2.4 GHz</span> Dual Core CPU</li>
      <li><span>40 GB SSD</span> Disk</li>
      <li><span>3000 GB</span>Transfer</li>
    </ul>
  </div>
  <%= f.radio_button :size, '2gb' %>
</div>
