<div class="btn informlow sizes">
  <div class="dis prices text">
    <h3><sup>$</sup>6/Month</h3>
  </div>
  <div class="specs">
    <ul>
      <li><span>512 MB</span> RAM</li>
      <li><span>2.4 GHz</span> Single Core CPU</li>
      <li><span>20 GB SSD</span> Disk</li>
      <li><span>1000 GB</span>Transfer</li>
    </ul>
  </div>
  <%= f.radio_button :size, '512mb',:checked => false %>
</div>
