<div class="btn informmid sizes">
  <div class="dis prices text">
    <h3><sup>$</sup>11/Month</h3>
  </div>
  <div class="specs">
    <ul>
      <li><span>1 GB</span> RAM</li>
      <li><span>2.4 GHz</span> Single Core CPU</li>
      <li><span>30 GB SSD</span> Disk</li>
      <li><span>2000 GB</span>Transfer</li>
    </ul>
  </div>
  <%= f.radio_button :size, '1gb',:checked => false%>
</div>
