/* line 4, /home/owaiswiz/ruby/host/app/assets/stylesheets/sessions.scss */
.new_user {
  margin: 0 auto;
  width: 400px;
  padding: 40px;
  padding-bottom: 0px !important;
  border-radius: 3px;
  background: #3190e7;
}
