<% content_for :head do %>
  <style>
    .footb {
      font-family: 'quicksandbold';
      line-height: 200%;
    }
    .fa{
        background-position: 0 6px;
        font-size: 16px;
    }
  </style>
<% end %>
<footer>
  <div class = "col-md-4 footb">
    <div class="row">
      <h4>Copyright © 2016</h4>
    </div>
    <div class = "row">
      <a href="/legal/privacy">Privacy Policy</a><br/>
      <a href="/legal/terms">Terms of Service</a><br/>
      <a href="/legal/copyright">Copyright Infringements</a><br/>
    </div>
  </div>
  <div class = "col-md-4 footb">
    <div class="row">
      <h4>HELP</h4>
    </div>
    <div class="row">
      <a href="/tutorials">Tutorials</a><br/>
      <a href="/help/gettingstarted">Getting Started</a><br/>
      <a href="/help/introduction">Frequently Asked Questions</a><br/>
    </div>
  </div>
  <div class = "col-md-4 footb">
    <div class="row">
      <h4>SOCIAL</h4>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-1">
        <i class="fa fa-twitter-square"></i><br/>
        <i class="fa fa-facebook-square"></i><br/>
        <i class="fa fa-google-plus-square"></i><br/>
      </div>
      <div class="col-md-2" style="text-align: center;">
        <a href="https://twitter.com/LiDeploy">Twitter</a><br/>
        <a href="#">Google+</a><br/>
        <a href="https://facebook.com/LiDeploy">Facebook</a><br/>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
</footer>
