<% content_for :head do %>
  <style>
    html,body{
      height: 100%;
    }
    .main-container{
      min-height: 100%;
      position: relative;
    }
    .content-container{
      padding-bottom: 250px
    }
    footer{
      position:absolute;
      bottom:0;
      height: 250px;
      background: #2e3234;
      padding: 100px 0 60px 0;
      margin-top: 25px;
      color: #747474;
      float: left;
      width: 100%;
      text-align: center;
    }

    .footb {
      font-family: 'quicksandbold';
      line-height: 200%;
    }
    .fa{
        background-position: 0 6px;
        font-size: 16px;
    }
    .social-icons a{
      text-align: left;
      width: 60%;
      float: right;
    }
    .social-icons i{
      text-align: right;
      width: 30%;
    }
  </style>
<% end %>
</div>
<footer>
  <div class="container">
  <div class = "col-md-4 col-sm-4 col-xs-4 footb">
    <div class="row">
      <h4>Copyright © 2016</h4>
    </div>
    <div class = "row">
      <a href="/legal/privacy">Privacy Policy</a><br/>
      <a href="/legal/terms">Terms of Service</a><br/>
      <a href="/legal/copyright">Copyright Infringements</a><br/>
    </div>
  </div>
  <div class = "col-md-4 col-sm-4 col-xs-4 footb">
    <div class="row">
      <h4>HELP</h4>
    </div>
    <div class="row">
      <a href="/tutorials">Tutorials</a><br/>
      <a href="/help/gettingstarted">Getting Started</a><br/>
      <a href="/help/introduction">Frequently Asked Questions</a><br/>
    </div>
  </div>
  <div class = "col-md-4 col-sm-4 col-xs-4 footb">
    <div class="row">
      <h4>SOCIAL</h4>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-4 col-sm-4"></div>
      <div class="col-md-4 col-xs-4 col-sm-4 social-icons">
        <i class="fa fa-twitter-square"></i><a href="https://twitter.com/LiDeploy">Twitter</a><br/>
        <i class="fa fa-facebook-square"></i><a href="#">Google+</a><br/>
        <i class="fa fa-google-plus-square"></i><a href="https://facebook.com/LiDeploy">Facebook</a><br/>
      </div>
      <!--<div class="col-md-2" style="text-align: center;">
        <a href="https://twitter.com/LiDeploy">Twitter</a><br/>
        <a href="#">Google+</a><br/>
        <a href="https://facebook.com/LiDeploy">Facebook</a><br/>
      </div>-->
      <div class="col-md-4 col-xs-4 col-sm-4"></div>
    </div>
  </div>
</div>
</footer>
