<% content_for :head do %>
<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
	<style>
		.text-header{
			width: 100%;
			margin:0;
			padding:0;
			border:0;
			line-height: 2;
			padding:20px 80px 50px;
			background-color:#e4f0fb;
			min-height: 550px;
			min-width: 720px;
			position: relative
		}
		.text-header img{
			opacity: 1;
			position:absolute;
			left: 50%;
			margin-left:-400px;
			right:0;
			bottom:15px;
		}
		.dynamic-text{
			font-family: 'Raleway', sans-serif;
			text-transform: uppercase;
			font-weight: bolder;
			font-size: 3em;
			text-align:center;
			margin:5px;
		}
	</style>
	<script>
	var who = ["Bloggers.","Designers.","Simple Deployments.","You."];
	var group = ["bloggers","designers","deploy","you"];
	var timeout = 0;
	$(who).each(function(index){
		setTimeout(function(){
			$(".for,.theme-img").removeClass("fadeIn").addClass("fadeOut").delay(1000).queue(function(next){
				$(".for").text(who[index]);
				$(".theme-img").attr('src',"/assets/front/" + group[index] + ".png");
				$(".for,.theme-img").removeClass("fadeOut").addClass("fadeIn");
				if(group[index] == "you"){
					$(".for").delay(1000).queue(function(next){$(".for").removeClass("animated fadeIn").addClass("animated flash").css("animation-iteration-count",'2');next();});
				}
				// $(".for").closest(".text-header").css("background-image","url('/assets/front/" + aClass[index] + ".png')");
				next();
			});
		},3000+timeout);
		timeout = timeout+3000;
	});
	</script>

<% end %>
<div class="text-header developers">
		<img class="theme-img animated" src="/assets/front/developers.png">
		<div class="dynamic-text">
			<span>Powerful Cloud Hosting for <br><span class="for animated">Developers.</span></span>
		</div>
</div>
