<div class="container-fluid">
<div class="muhmaincontent">
	<div class="muhleft">
		<h1 class="light">
			<strong>LiDeploy</strong>
			<br>
			Powerful Servers<br>
			Around the world
			<br>
			Ready within minutes



		</h1>
	</div>
	<div class="muhright">
		<h2> THIS	</h2>
	</div>
</div>
</div>
