<div class="container">
	<div class="muhmaincontent">
		<div class="muhleft">
			<h1 class="light">
				<span style="font-weight:900;font-weight: bolder;color:#3190e7">LiDeploy</span>
				<br>
				Powerful Servers<br>
				Around the world
				<br>
				Ready within minutes
				<br>
				And couple of Clicks
			</h1>
		</div>
		<div class="muhright">
			<img src="/assets/front/frontcloud.png" style="margin-top:25px;width:95%;padding-bottom:30px;" />
		</div>
	</div>
</div>
