<section id="pricing-table">
            <div class="container">
                <div class="row">
                    <div class="pricing">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="pricing-table">
                                <div class="pricing-header">
                                    <p class="pricing-title">Basic Plan</p>
                                    <p class="pricing-rate"><sup>$</sup>3.99<span>/First Month*</span></p>
                                    <a href="#" class="btn btn-custom">$6 after First Month</a>
                                </div>

                                <div class="pricing-list">
                                    <ul>
                                        <li><span>512MB</span> RAM</li>
                                        <li><span>2.4 GHz</span> Single Core Processor</li>
                                        <li><span>20GB</span> SSD Disk</li>
                                        <li><span>1TB</span> Transfer</li>
                                        <li><span>Free SSL Certificate Setup(HTTPS)</span> 
                                        <li><span>Free .COM Domain*</span></li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="pricing-table">
                                <div class="pricing-header">
                                    <p class="pricing-title">Business Plan</p>
                                    <p class="pricing-rate"><sup>$</sup>6.99<span>First Month*</span></p>
                                    <a href="#" class="btn btn-custom">$11 After First Month</a>
                                </div>

                                <div class="pricing-list">
                                    <ul>
                                        <li><span>1GB</span> RAM</li>
                                        <li><span>2.4 GHz</span> Single Core Processor</li>
                                        <li><span>30GB</span> SSD Disk</li>
                                        <li><span>2TB</span> Transfer</li>
                                        <li><span>Free SSL Certificate Setup(HTTPS)</span> 
                                        <li><span>Free .COM Domain*</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="pricing-table">
                                <div class="pricing-header">
                                    <p class="pricing-title">Elite Plan</p>
                                    <p class="pricing-rate"><sup>$</sup>13.99<span>/First Month*</span></p>
                                    <a href="#" class="btn btn-custom">$22 after First Month</a>
                                </div>

                                <div class="pricing-list">
                                    <ul>
                                        <li><span>2GB</span> RAM</li>
                                        <li><span>2.4 GHz</span> Dual Core Processor</li>
                                        <li><span>40GB</span> SSD Disk</li>
                                        <li><span>2TB</span> Transfer</li>
                                        <li><span>Free SSL Certificate Setup(HTTPS)</span> 
                                        <li><span>Free .COM Domain*</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>