<div class="muhcontainer">
  <div class="row feature-box">
      <div class="col-md-12">
          <h1 style="font-family: 'quicksandlight' ">Reasonable Pricing Structure</h1>
      </div>
  </div>
  <div class="container feature-box">
    <div class="btn">
      <br>
      <div class="btn sizes">
        <div class="nodis prices text">
          <h3>Starts from<br> <sup>$</sup>1.99</h3>
        </div>
        <div class="specs">
          <ul>
            <li><span>512 MB</span> RAM</li>
            <li><span>2.4 GHz</span> Single Core CPU</li>
            <li><span>20 GB SSD</span> Disk</li>
            <li><span>1000 GB</span>Transfer</li>
          </ul>
        </div>
      </div><!--
   --><div class="btn active sizes">
        <div class="prices text">
          <div class="nodis">
            <h3>Starts from<br> <sup>$</sup>3.99</h3>
          </div>
        </div>

        <div class="popular">
          MOST POPULAR PLAN
        </div>
        <div class="specs">
          <ul>
            <li><span>1 GB</span> RAM</li>
            <li><span>2.4 GHz</span> Single Core CPU</li>
            <li><span>30 GB SSD</span> Disk</li>
            <li><span>2000 GB</span>Transfer</li>
          </ul>
        </div>
      </div><!--
  --><div class="btn sizes">
        <div class="nodis prices text">
          <h3>Starts from<br> <sup>$</sup>11.99</h3>
        </div>
        <div class="specs">
          <ul>
            <li><span>2 GB</span> RAM</li>
            <li><span>2.4 GHz</span> Dual Core CPU</li>
            <li><span>40 GB SSD</span> Disk</li>
            <li><span>3000 GB</span>Transfer</li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <a href="/register" class="btn btn-primary bluebutton" style="width: 25%" role="button">Register Now</a>
  </div>
</div>
