<%= render 'shared/frontpage' %>
<div class="wrapper">
  <div class="muhcontainer">
  <div class="row feature-box">
  <h1 style="margin-bottom: 50px;font-family: 'quicksandlight'"> Simple. Reliable. Flexible.</h1>
      <div class="span4">
         <img src="/assets/easytodeployvps.png" alt="Test" class="img-rounded myimg">
         <h2 style="font-family: 'quicksandregular'">Easy To Deploy</h2>
         <p>Launch a server instance with just a few clicks<br>Doesn't get any simpler than this</p>
      </div>

      <div class="span4">
          <img src="/assets/99percentuptimeserver.png" alt="Test" class="img-rounded myimg">
          <h2>99.9% Uptime</h2>
          <p>Server's Uptime is of great importance to us<br>We guarantee that you won't be dissappointed</p>
      </div>
      <div class="span4">
        <img src="/assets/simpletoscalevps.png" alt="Test" class="img-rounded myimg">
        <h2 style="font-family: quicksandbold"> Easily Scalable</h2>
        <p> You can easily scale your servers in the future<br>Just with a couple of clicks</p>
      </div>
  </div>
  <br>
  </div>
</div>
<%= render 'shared/pricing' %>
<br>
<%= render 'shared/footer' %>
