<% content_for :head do %>
  <style>
    footer{
      margin-top: 10px;
    }
  </style>
<% end %>
<div class="container" style="margin-top:40px;">
  <h1 style="font-weight:900;margin-bottom:40px">Contact Us</h1>
  <ul class="contact-ways" style="max-width:80%;">
    <h2><li>Via E-Mail</h2>
        <div class="ways"><h3>You can contact us via E-Mail on support@lideploy.com</h3>
        <a href="mailto:support@lideploy.com" class="btn btn-primary bluebutton" style="width: 250px;margin:0px;" role="button">Email Us</a>
        </div>
      </li>
    <h2><li>Via Support Ticket</h2>
        <div class="ways">
          <h3>You can also contact us by creating a support ticket by logging into your account and navigating to the Support tab or by clicking the button below</h3>
          <a href="/support/ticket/newticket" class="btn btn-primary bluebutton" style="width: 250px;margin:0px" role="button">Create Ticket</a>
        </div>
      </li>
    </ul>
</div>
<%= render 'shared/footer' %>
