<% content_for :head do %>
  <style>
    footer{
      margin-top: 100px;
    }
  </style>
<% end %>
<div class="container feature-box">
  <h1 style="margin-top:25px;margin-bottom:40px;">Features that Matter</h1>
  <div class="features">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-2 feature-img">
            <img src="/assets/controlpanel.png" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <h3>Simple Control Panel</h3>
          <p>The simplest control panel you have ever seen. Straightforward and easy to use.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-2 feature-img">
            <img src="/assets/time.png" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <h3>Ready Within Minutes</h3>
          <p>Instances are ready for use within couple of minutes after payment is completed.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-2 feature-img">
          <img src="/assets/99uptime.png" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <h3>99.99% Uptime</h3>
          <p>We provide 99.99% Uptime for your Instance and make sure that it doesn't go down.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-2 feature-img">
              <img src="/assets/ssd.png" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <h3>Solid State Drives</h3>
          <p>Every Plan comes with fast solid state drives which boosts your I/O performance by a lot.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-2 feature-img">
              <img src="/assets/1gbpsnetwork.png" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <h3>1Gbps Uplink</h3>
          <p>Every plan has 1Gbps network interface which in turn provide lightning fast internet speeds.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-2 feature-img">
            <img src="/assets/qualityhardware.png" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <h3>Powerful Hardware</h3>
          <p>Every Instance is created on top-notch hardware with dedicated ECC RAM and RAID SSD storage.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
