<div class="muhcontainer" style="color: #666">
  <div class="row feature-box">
      <div class="col-md-12">
          <h1 style="font-family: 'quicksandlight' ">Reasonable Pricing Structure</h1>
          <h4>Each Plan comes with Solid State Drives and availablity around the globe.</h4>
      </div>
  </div>
  <div class="container feature-box">
    <div class="btn instsize">
      <br>
      <div class="btn sizes">
        <div class="nodis prices text">
          <h3>Starts from<br> <sup>$</sup>1.99</h3>
        </div>
        <div class="specs">
          <ul>
            <li><span>512 MB</span> RAM</li>
            <li><span>2.4 GHz</span> Single Core CPU</li>
            <li><span>20 GB SSD</span> Disk</li>
            <li><span>1000 GB</span>Transfer</li>
          </ul>
        </div>
      </div><!--
   --><div class="btn active sizes">
        <div class="prices text">
          <div class="nodis">
            <h3>Starts from<br> <sup>$</sup>3.99</h3>
          </div>
        </div>

        <div class="popular">
          MOST POPULAR PLAN
        </div>
        <div class="specs">
          <ul>
            <li><span>1 GB</span> RAM</li>
            <li><span>2.4 GHz</span> Single Core CPU</li>
            <li><span>30 GB SSD</span> Disk</li>
            <li><span>2000 GB</span>Transfer</li>
          </ul>
        </div>
      </div><!--
  --><div class="btn sizes">
        <div class="nodis prices text">
          <h3>Starts from<br> <sup>$</sup>11.99</h3>
        </div>
        <div class="specs">
          <ul>
            <li><span>2 GB</span> RAM</li>
            <li><span>2.4 GHz</span> Dual Core CPU</li>
            <li><span>40 GB SSD</span> Disk</li>
            <li><span>3000 GB</span>Transfer</li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <a href="/register" class="btn btn-primary bluebutton" style="width: 25%" role="button">Register Now</a>
  </div>
</div>
<div class="wrapper">
  <div class="faqs feature-box container">
    <h1 style="font-family: 'quicksandlight';">FAQS On Pricing and Billing</h1>
    <div class="faq">
      <div class="row">
        <div class="col-md-6">
          <h5>What form of Payments do we Accept?</h5>
          <p>We currently accept Paypal as our Payment Processor which support hundreds of countries around the world.</p>
        </div>
        <div class="col-md-6">
          <h5>I completed payment but it still shows "Awaiting Payment Confirmation" on Instance Dashboard?</h5>
          <p>It takes few minutes for Paypal to completely process an transaction and notify us. Instance status should be updated within seconds of receiving notification from Paypal of completed payment.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>How do I cancel my account?</h5>
          <p>You can cancel your account by sending an e-mail to or by opening a support ticket stating that you want to delete your account.Do note that this process is irreversible.</p>
        </div>
        <div class="col-md-6">
          <h5>Do you offer refund?</h5>
          <p>We currently do not offer refund, but should you have any problem with our services we will be happy to assist you if you just email us at support@lideploy.com or open a support ticket.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
