<% title "Getting Started" %>
<h2>Getting Started</h2>
<h3 class="tut-link"><a data-turbolinks="false" href="https://lideploy.com/tutorials/create-an-instance-at-lideploy/">Create your first LiDeploy Instance</a></h3>
  <p>Follow this tutorial to create your very own first Instance with us and get it up and running within minutes.</p>
<br>
<h3 class="tut-link"><a data-turbolinks="false" href="https://lideploy.com/tutorials/create-new-sudo-user-ubuntu/">Create a new Sudo User</a></h3>
  <p>It's not recommended to execute commands in a Linux operating system as root always. That is why we create a new user that can execute root-level commands by using sudo.This tutorial will guide you on how to create a new sudo user on Ubuntu.</p>
<br>
<h3 class="tut-link"><a data-turbolinks="false" href="https://lideploy.com/tutorials/setup-domain-name-with-lideploy-free-dns/">Set Up Domain Names with LiDeploy</a></h3>
  <p>Get your domain to point to your very own Instance using our free and simple DNS manager by following this detailed guide.</p>
<br>
<h3 class="tut-link"><a data-turbolinks="false" href="https://lideploy.com/tutorials/setup-lamp-stack-ubuntu-14-04/">Setup A Website using the Basic LAMP Stack</a></h3>
  <p>Guide on how to Install the LAMP Stack (Linux,Apache,MySql,PHP) which can enable you to host your website and run some awesome CMS like wordpress.</p>
