<% title "Getting Started" %>
<h2>Getting Started</h2>
<h3>Create your first LiDeploy Instance</h3>
  <p>Follow the following tutorial to create your very own first Instance with us and get it up and running within minutes.</p>

<h3>Set Up Domain Names</h3>
  <p>Get your domain to point to your very own Instance easily by following a detailed guide.</p>

<h3>Setup A Website using the Basic LAMP Stack</h3>
  <p>Guide on how to Install the LAMP Stack (Linux,Apache,MySql,PHP) which can enable you to host your website along with some awesome CMS like wordpress.</p>
