<% title "Introduction" %>
<h2>Introduction</h2>
<h3>What is LiDeploy?</h3>
<p>LiDeploy provides lightning fast virtual servers for webhosting,deploying your web apps,etc at very low cost with the very best hardware.</p>

<h3>What are Instances?</h3>
<p>Instances are nothing but the term LiDeploy uses to refer to virtual servers.</p>

<h3>What features does LiDeploy provide?</h3>
<ul>
<li><p><span class="bold">Simple Control Panel</span>: LiDeploy has a very straightforward,basic and simple control panel that is very easy to understand and use.</p></li>
<li><p><span class="bold">Ready within Minutes</span>: Most of the Instances created with LiDeploy are ready within couple of minutes after completing the payment if not seconds.</p></li>
<li><p><span class="bold">SSD Servers</span>: All plans on LiDeploy come with a solid state disk storage medium which boosts your I/O performance to a great extent.</p></li>
<li><p><span class="bold">Multiple Linux Distributions</span>: LiDeploy currently support 4 major linux distribution (Ubuntu,Fedora,Debian,CentOs) with more coming soon. We will also be adding one click apps and stacks like Wordpress and LAMP in the near future.<br/><br/>
       <a href="/features">More Features</a>
     </p>
</li>
</ul>

<h3>Why should I choose your SSD Instances instead of a Shared Hosting or a dedicated Server?</h3>
<p>The first reason is price. We provide virtual servers for a very low competitive price.<br><br>Unlike shared hosting,you have full root access to your server,you're free to do anything you want with it(as long as you don't violate our Terms of Service) and you're guaranteed the resource that is advertised whereas in shared hosting multiple users share the same server.<br><br>Another advantage is that you can easily scale your servers in the future within minutes which would be difficult to do with a dedicated box.

<h3>What kind of Network Connection does my Instance run on?</h3>
<p>All instances are connected to 1 gigabit per second ethernet switches.</p>

<h3>What virtualization technology does LiDeploy uses for its servers?</h3>
<p>We use KVM virtualization for all of our server which provides great performance and security.</p>

<h3>Do you provide Windows based servers?</h3>
<p>We do not provide Windows based servers.</p>
