<% title "LiDeploy's Nameservers" %>
<h2>LiDeploy's Nameservers</h2>
<h3>We have 3 name servers. They are:</h3>
	<p>
		<ul style="font-weight: bolder;font-size:1.2em;">
			<li>ns1.lideploy.com</li>
			<li>ns2.lideploy.com</li>
			<li>ns3.lideploy.com</li>
		</ul>
		If you want to know how you can configure our nameservers with your domain registrar,refer to this guide - <a data-turbolinks="false" href="https://lideploy.com/tutorials/setup-domain-name-with-lideploy-free-dns/">How to setup a Domain Name with LiDeploy</a>. 
	</p>