<% title "Pricing FAQs" %>
<h2>Pricing FAQs</h2>
<h3>What Payment methods are available?</h3>
<p>We currently accept payments via Paypal which is available in most of the countries. We will be adding more payment methods soon.</p>

<h3>I completed Payment via PayPal but it still shows "Awaiting Payment Confirmation" in my Instances Dashboard.Why?</h3>
<p>PayPal needs some time to process and post the status of a payment after it is completed to us. Your status should be updated within minutes if not seconds after successfully completing payment.</p>

<h3>Do you offer refunds?</h3>
<p>Due to the nature of the service we provide,we do not provide refund.However if you have any problems you should email us at <span class="bold">support@lideploy.com</span> and we will resolve it as soon as possible.</p>
