<% title "Privacy/Policy FAQs" %>
<h2>Privacy/Policy FAQs</h2>
<h3>Which Datacenters location are available?</h3>
<p>Datacenters are located in New York City,San Francisco,Singapore,London,Amsterdam,Frankfurt and Toronto.</p>

<h3>Where can I find your Terms of Service?</h3>
<p>You can read about our Terms of Service here:<br/><br/>
   <a href="/legal/terms">Terms of Service</a>
</p>

<h3>Where can I find your Privacy Policy?</h3>
<p>You can read about our Privacy Policy here:<br/><br/>
   <a href="/legal/privacy">Privacy Policy</a>
</p>
