<%= content_for :head do %>
  <style>

  </style>
<% end %>
<div class="container" style="margin-top:40px;">
  <h1 style="font-weight: 900;">Support Tickets</h1>
  <div class="row support-nav-row">
    <div class="col-md-12">
      <ul class="nav nav-pills support-nav">
        <li class="nav-item nav-ticket opentickets current">
          <a class="nav-link btn" href="#">Open Tickets</a>
        </li>
        <li class="nav-item nav-ticket closedtickets">
          <a class="nav-link btn" href="#">Closed Tickets</a>
        </li>
        <li class="nav-item createticket">
          <a class="nav-link btn createticket" href="#">Create Ticket</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row support-split">
    <div class="col-md-3">
      <% if @tickets.first.nil? %>
      <div class="notickets feature-box">
        You don't seem to have any tickets
      </div>
      <% else %>
        <%= @tickets.first.title %>
      <% end %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <%= @tickets %>
    </div>
  </div>
</div>
