<div>
  Thanks for creating an Instance with us.<br/>
  Here are the details needed to login to the created instance<br/>
  <br/>
  Instance Name: <%= @createdinstance.name %><br/>
  IP Address: <%= @createdinstance.ip_address %><br/>
  Username: root<br/>
  Password: <%= @createdinstance.password %><br/>
  <br/>
  <p>
    You're required to change your password at first login for security reasons.<br/>
    Change it to something that is easy to remember but hard for a computer to guess.<br/>
    Kindly remember that password.<br/>
  </p>
  <br/>
  Go change the world,<br/>
  LiDeploy
</div>
