@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*Begin Quicksand Font Declarations */
@font-face {
    font-family: 'quicksandregular';
    src: font_url('quicksand-regular-webfont.eot');
    src: font_url('quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font_url('quicksand-regular-webfont.woff2') format('woff2'),
         font_url('quicksand-regular-webfont.woff') format('woff'),
         font_url('quicksand-regular-webfont.ttf') format('truetype'),
         font_url('quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandbold';
    src: font_url('quicksand-bold-webfont.eot');
    src: font_url('quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font_url('quicksand-bold-webfont.woff2') format('woff2'),
         font_url('quicksand-bold-webfont.woff') format('woff'),
         font_url('quicksand-bold-webfont.ttf') format('truetype'),
         font_url('quicksand-bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandlight';
    src: font_url('quicksand-light-webfont.eot');
    src: font_url('quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         font_url('quicksand-light-webfont.woff2') format('woff2'),
         font_url('quicksand-light-webfont.woff') format('woff'),
         font_url('quicksand-light-webfont.ttf') format('truetype'),
         font_url('quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*End Quicksand Font Declaration*/
body{
  font-family: 'quicksandregular';
}
.page-top {
  margin-top: 51px;
}
.bluer{
  background: #3190e7;
  height: 100%;
  color: #34495E;
}

//Forregister
.new_user{
    margin: 0 auto;
    width: 400px;
    padding: 40px;
    padding-bottom: 0px !important;
    border-radius: 3px;
    background: #3190e7;
}

.feature-box {
    text-align: center;
    font-weight: 400;
    margin-top: 50px;
}
.btn{
  border-radius: 0 !important;
  outline: none;
  box-shadow: none !important;
}
.btn-primary{

	background-color: #ffffff;
	border-style: solid;
	color: #3190e7;
  font-family: 'quicksandbold';
  border-color: #3190e7;
	border-radius: 3px;
  position: relative;
  font-weight: 600;
  -o-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
	-khtml-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	transition: color 0.2s linear;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
	background-color: #3190e7 !important;
}
li div a.btn-primary{
  margin-left: 10px;
  padding: 10px 15px !important;
  border-radius: 2px !important;
}
li .navbar-btn{
  .greenbutton{
    margin-right: 10px;
  }
  a.btn-primary:hover{
  border: 1px solid #3190e7;
  }
}
.login{
  font-family: 'quicksandbold';
  color: #3190e7;
  &:hover{
    color:#3190e7;
  }
}
.grey{
  color:#777 !important;
  &.btn{
    font-family: 'quicksandbold';
    &:hover{
      color:#3190e7;
      border-top:2px solid #3190e7;
    }
  }
}
.myimg {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.required input,.required textarea{
  background: #fcfcfc;
  border: 2px solid #e7e7e7;
  margin: 20px auto;
  padding: 15px;
  width: 100%;
  display: block;
  border-radius: 3px;
  font-size: 18px;
  transition: opacity 0.4s;
  text-align: left;
  height: auto;
}
.help-block{
  font-family: 'quicksandbold';
  font-size:15px;
  color:#34495E;

}
.rederror {
  color: red !important;
}
.autherror{
  font-family: 'quicksandbold';
  font-size: 20px;
  text-align: center;
}
.greenbutton,.signupbutton{
  color: white;
  background: #2BCA58;
  font-weight: 500;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  display: block;
  font-family: 'quicksandbold';
}
.bluebutton{
  @extend .signupbutton;
   background: #3190e7 !important;
}
.bluebutton:hover{
  background: #1569B7 !important;
}
.signupbutton{
  font-size: 20px;
  height: auto;
  width: 100%;
  margin-bottom: 0;
  margin: 20px auto;
  padding: 15px;
  border: 0;
  -webkit-appearance: none;
}
.greenbutton:hover,.signupbutton:hover {
  color: white;
  background: #24A849;
}

.form-inputs{
  text-align: center;
}
.links,.links a{
  text-align: center;
  color:white;
  font-family: 'quicksandbold' !important;
}

.alert {
  text-align: center;
  font-family: 'quicksandbold';
  border-radius: 0px;
  margin-top: 19px;
}

footer {
    background: #2e3234;
    padding: 100px 0 60px 0;
    margin-top: 25px;
    color: #747474;
    float: left;
    width: 100%;
    text-align: center;
}
.btn-half{
  width: 50% !important;
}
.btn.sizes:hover,.instsize:hover{
  color: #666 !important;
}
a,.btn{
  outline-style: none !important;
}
.header-logo{
  font-weight: bolder;
  font-size: 25px;
  text-decoration:none !important;
  color: #3190e7;
  &:hover{
    color:#3190e7;
  }
  &.header-text,.header-text{
    padding-left:2px !important;
    margin-left: 0px;
    margin-top:-1px !important;
  }
}
.navbar-btn .btn{
  margin-top:5px;
}
.navbar .container{
  padding-bottom:5px;
}
