

.sizes{
  height: 200px;
  width: 220px;
  padding: 0;
  border-color: #298eea;
  border: none !important;
}

.sizes:nth-of-type(1),.sizes:nth-of-type(3){
  border: 1px solid #CDCDCD !important;
}
.text{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'quicksandbold';
  font-size: 20px;
  border-bottom: solid 1px #CDCDCD;
}
.text h5{
  font-size: 15px;
}
.sizes.active{
//  border-left: 1px solid #298eea !important;
  height: 250px;
  outline: 5px solid #298eea;
}
.sizes.active .text{
  background-color: #298eea;
  color: white;
}
.popular{
  background-color: #1d82dc !important;
  font-size: 110% !important;
  width: 100%;
  outline: 4px solid #1d82dc !important;
  padding-top:5px;
  padding-bottom: 5px;
  color: white;
}

.specs {
  padding-top: 10px;
  padding-bottom: 10px;
}

.specs ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
.specs ul li {
  list-style: none;
  color: #bdc3c7;
  font-size: 16px;
}

.specs ul li span {
  color: #34495e;
  font-family: 'quicksandbold';
}

.nodis,.maxdis{
  display:none;
}
.text{
  padding-bottom: 18px;
}
