@import 'https://fonts.googleapis.com/css?family=Oswald:300';
@import 'https://fonts.googleapis.com/css?family=Raleway:800';
body{
  color: #666;
}
.bold{
  font-family: 'quicksandbold';
}
h1{
  font-family: 'Raleway';
  font-size: 3em;
  margin-bottom: 40px;
}
.light{
  font-family: 'quicksandlight';
}
.key-points.col-md-4 h2,.theme{
  color: #298eea;
}
.key-points.col-md-4 h2{
  font-family: 'Oswald' !important;
  letter-spacing: 1px;
}
.wrapper{
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f3f5f7;
}
.muhcontainer
{
	max-width: 1170px;
	margin-right: auto;;
	margin-left: auto;
	font-family: quicksandbold;
	font-size: 15px;

}

.muhmaincontent{
  max-width: 1400px;
  display: block;
  padding: 20px 80px 90px;
}
.muhsup
{
  font-size: 15px;
  color: #34495E;
}
.feature-box{
  margin-top: 0px;
}
hr{
  border-color: #666;
  width: 100%;
}

.sizes{
  height: 267px;
  width: 215px;
  padding: 0;
  border-radius: 3% !important;
}

.sizes.active{
  height: 307px;
  border: 4px solid #298eea !important;
}
.sizes.active .text{
  background-color: #298eea;
  color: white;
}
.sizes:nth-of-type(1),.sizes:nth-of-type(3){
//  border: 1px solid #CDCDCD !important;
    border: 2px solid #298eea !important;
}
.sizes:nth-of-type(1){
  border-top-right-radius: 0 !important;
  border-right: none !important;
  border-bottom-right-radius: 0 !important;

}
.sizes:nth-of-type(3){
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.text{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'quicksandbold';
  font-size: 20px;
  border-bottom: solid 1px #CDCDCD;
}
.text h5{
  font-size: 15px;
}
.popular{
  background-color: #1d82dc !important;
  font-size: 110% !important;
  width: 100%;
  outline: 4px solid #1d82dc !important;
  padding-top:5px;
  padding-bottom: 5px;
  color: white;
}

.specs {
  padding-top: 10px;
}

.specs ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
.specs ul li {
  list-style: none;
  color: #bdc3c7;
  font-size: 16px;
  padding: 5px;
}

.specs ul li span {
  color: #34495e;
  font-family: 'quicksandbold';
}
.contact-block{
  text-align: center;
}
.contact-img{
  margin-bottom: 20px;
}
.contact-wrapper{
  margin-top:40px;
  text-align: center;
  padding-bottom:25px;
}

.etos{
  font-size:10px;
  font-family: 'quicksandlight';
  text-align: center;
  margin: 0 auto;
}
footer{
  margin-top: 0px;
}
.blue-wrapper{
  width: 100%;
  background-color: #e4f0fb;
}
.text-header{
      width: 100%;
      margin:0;
      padding:0;
      border:0;
      line-height: 2;
      padding:20px 80px 50px;
      background-color:#e4f0fb;
      min-height: 550px;
      min-width: 720px;
      position: relative
}
.text-header img{
  opacity: 1;
  position:absolute;
  left: 50%;
  margin-left:-400px;
  right:0;
  bottom:15px;
}
.dynamic-text{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3em;
  text-align:center;
  margin:5px;
}
p {
  font-family: 'Oswald';
  letter-spacing: 1px;
  line-height: 150%;
  font-size: 1.25em;
}
.custom-primary-button{
  padding: 15px;
  border-radius: 3px !important;
  min-width: 250px;
  margin-bottom: 35px;
  margin-top: 30px;
  font-family: 'Oswald';
  font-size: 1.4em;
  letter-spacing: 3px;
  background-color: transparent !important;
}
.free-plan p,.free-plan a{
  font-size: 1.4em;
}