.region,.sizes,.btn-group label{
  transition: all 0.5s ease;
}
.nooutline.active{
  outline: 0 !important;
  border: 0 !important;
}
.alert{
  margin-top: 20px;
}
.distro{
  height: 100px;
  width: 100px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  p{
    padding-top:70px;
    font-family: 'quicksandbold';
    color: black;
  }
}
.distro.active{
  background-color: #298eea !important;
  p{
    color: white !important;
  }
}
.ubuntu{
  background: url('/assets/ubuntu.png') #f2f2f2;
}
.ubuntu.active{
  background-image: url('/assets/ubuntu-active.png') !important;
}

.fedora{
  background: url('/assets/fedora.png') #f2f2f2;
}
.fedora.active{
  background-image: url('/assets/fedora-active.png') !important;
}

.centos{
  background: url('/assets/centos.png') #f2f2f2;
}
.centos.active{
  background-image: url('/assets/centos-active.png') !important;
}

.debian{
  background: url('/assets/debian.png') #f2f2f2;
}
.debian.active{
  background-image: url('/assets/debian-active.png') !important;
}
.btn-primary.active{
  background-color: #298eea !important;
}
.sizes{
  height: 280px;
  width: 250px;
  padding: 0;
  border-color: #298eea;
  border: solid 1px #298eea;
  margin: 20px !important;
}

.text{
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: 'quicksandbold';
  font-size: 1.2em;
  border-bottom: solid 1px #CDCDCD;
  height: 102px;
  h5{
    font-size: 15px;
    margin: 15px auto;
  }
}
.sizes.active .text{
  transition: all 0.5s ease;
  background-color: #298eea;
  color: white;
}
.sizes:hover .prices{
  background-color: #EEE;
}
.sizes.active:hover .prices{
  background-color: #298eea !important;
}
.specs {
  padding-top: 10px;
  padding-bottom: 10px;
  ul{
    padding: 0px;
    display: table;
    margin: 0px auto;
    li{
      list-style: none;
      color: #bdc3c7;
      font-size: 1.2em;
      margin: 12px auto;
      span{
        color: #34495e;
        font-family: 'quicksandbold';
      }
    }
  }
}

.region{
  height: 110px;
  width: 120px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: solid 0.2px #298eea;
  margin: 15px !important;
  float:none !important;
  text-align: center;
  p{
    padding-top: 75px;
    font-family: 'quicksandbold';
    color: #34495e;
  }
}
.region.active{
  background-color: #298eea;
  p{
    color: white;
  }
}

.america{
  background-image: url('/assets/usa.png') !important;
}
.uk{
  background-image: url('/assets/uk.png') !important;
}
.germany{
  background-image: url('/assets/germany.png') !important;
}
.canada{
  background-image: url('/assets/canada.png') !important;
}
.netherland{
  background-image: url('/assets/netherlands.png') !important;
}
.singapore{
  background-image: url('/assets/singapore.png') !important;
}

.required input[type="text"]{
  width: 50%;
}
.signupbutton{
  width: 70%
}
.nodis,.maxdis{
  display:none;
}
//Renew
.renew,.resize{
  text-align: center;
  vertical-align: middle;
}
.details{
  font-family: 'quicksandlight';
  font-size: 150%;
}
.header{
  font-family: 'quicksandbold' !important;
}

//confirm modal related

.destroy.btn-primary{
  color: red !important;
  border: 1px solid red !important;
}
.destroy.btn-primary:focus,.destroy.btn-primary:hover{
  background-color: red !important;
  color: white !important;
  border-color:red !important;
}
.commit.destroy.btn-primary{
  margin-left: 0 !important;
  margin-top: 5px;
  border: 1px red solid;
}
