.region,.sizes,.btn-group label{
  transition: all 0.5s ease;
}
.nooutline.active{
  outline: 0 !important;
  border: 0 !important;
}
.distro{
  height: 100px;
  width: 100px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 2% !important;
  p{
    padding-top:70px;
    font-family: 'quicksandbold';
    color: black;
  }
}
.distro.active{
  background-color: #298eea !important;
  p{
    color: white !important;
  }
}
.ubuntu{
  background-image: image-url('ubuntu.png') !important;
}
.ubuntu.active{
  background-image: image-url('ubuntu-active.png') !important;
}

.fedora{
  background-image: image-url('fedora.png') !important;
}
.fedora.active{
  background-image: image-url('fedora-active.png') !important;
}

.centos{
  background-image: image-url('centos.png') !important;
}
.centos.active{
  background-image: image-url('centos-active.png') !important;
}

.debian{
  background-image: image-url('debian.png') !important;
}
.debian.active{
  background-image: image-url('debian-active.png') !important;
}
.btn-primary.active{
  background-color: #298eea !important;
}
.sizes{
  height: 280px;
  width: 250px;
  padding: 0;
  border: 1px solid #298eea;
  border-radius: 1% !important;
  margin: 20px !important;
}

.text{
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: 'quicksandbold';
  font-size: 1.2em;
  border-bottom: 1px solid #CDCDCD;
  height: 102px;
  h5{
    font-size: 15px;
    margin: 15px auto;
  }
}
.sizes.active .text{
  transition: all 0.5s ease;
  background-color: #298eea;
  color: white;
}
.sizes:hover .prices{
  background-color: #EEE;
}
.sizes.active:hover .prices{
  background-color: #298eea !important;
}
.specs {
  padding-top: 10px;
  padding-bottom: 10px;
  ul{
    padding: 0px;
    display: table;
    margin: 0px auto;
    li{
      list-style: none;
      color: #bdc3c7;
      font-size: 1.2em;
      margin: 12px auto;
      span{
        color: #34495e;
        font-family: 'quicksandbold';
      }
    }
  }
}

.region{
  height: 110px;
  width: 120px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: solid 1px #298eea;
  margin:15px 0 15px 15px !important;
  float:none !important;
  text-align: center;
  p{
    padding-top: 75px;
    font-family: 'quicksandbold';
    color: #34495e;
  }
}
.region.active{
  background-color: #298eea;
  p{
    color: white;
  }
}

.america{
  background-image: image-url('usa.png') !important;
}
.uk{
  background-image: image-url('uk.png') !important;
}
.germany{
  background-image: image-url('germany.png') !important;
}
.canada{
  background-image: image-url('canada.png') !important;
}
.netherland{
  background-image: image-url('netherlands.png') !important;
}
.singapore{
  background-image: image-url('singapore.png') !important;
}
.india{
  background-image: image-url('india.png') !important;
}

.required input[type="text"]{
  width: 50%;
}
.signupbutton{
  width: 70%
}
.nodis,.maxdis{
  display:none;
}
//Renew
.renew,.resize{
  text-align: center;
  vertical-align: middle;
}
.details{
  font-family: 'quicksandlight';
  font-size: 150%;
}
.header{
  font-family: 'quicksandbold' !important;
}

//confirm modal related

.destroy.btn-primary{
  color: #ef5350 !important;
  border: 1px solid #ef5350 !important;
}
.destroy.btn-primary:focus,.destroy.btn-primary:hover{
  background-color: #ef5350 !important;
  color: white !important;
  border-color:#ef5350 !important;
}
.commit.destroy.btn-primary{
  margin-left: 0 !important;
  margin-top: 5px;
  border: 1px #ef5350 solid;
}


//loading related
/* Absolute Center Spinner */
.ajax-loading {
  position: fixed;
  z-index: 1050;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.ajax-loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.ajax-loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.ajax-loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}