.distro{
  height: 100px;
  width: 100px;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.distro p{
  padding-top:70px;
  font-family: 'quicksandbold';
  color: black;
}
.distro.active p{
  color: white !important;
}
.distro.active{
  background-color: #298eea !important;
}
.ubuntu{
  background: url('/assets/ubuntu.png') #f2f2f2;
}

.ubuntu.active{
  background-image: url('/assets/ubuntu-active.png') !important;
}
.fedora{
  background: url('/assets/fedora.png') #f2f2f2;
}
.fedora.active{
  background-image: url('/assets/fedora-active.png') !important;
}
.centos{
  background: url('/assets/centos.png') #f2f2f2;
}
.centos.active{
  background-image: url('/assets/centos-active.png') !important;
}
.debian{
  background: url('/assets/debian.png') #f2f2f2;
}
.debian.active{
  background-image: url('/assets/debian-active.png') !important;
}
.fedoraver,.centosver,.debianver{
  display: none;
}

.btn-primary{
  font-family: 'quicksandbold';
}
.btn-primary.active{
  background-color: #298eea !important;
}


.sizes{
  height: 200px;
  width: 250px;  
  padding: 0;
  border-color: #298eea;
  border: solid 1px #298eea;
  margin: 20px;
}

.text{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'quicksandbold';
  font-size: 20px;
  border-bottom: solid 0.1px #CDCDCD;
}
.text h5{
  font-size: 15px;
}
.sizes.active .text{
  background-color: #298eea;
  color: white;
}
.sizes:hover .specs{
  background-color: #EEE;
}
.specs {
  padding-top: 10px;
  padding-bottom: 10px;
}

.specs ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
.specs ul li {
  list-style: none;
  color: #bdc3c7;
  font-size: 16px;
}

.specs ul li span {
  color: #34495e;
  font-family: 'quicksandbold';
}

.region{
  height: 110px;
  width: 120px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: solid 0.2px #298eea;
  margin: 20px;
  text-align: center;
}
.region.active{
  background-color: #298eea;
}

.region p{
  padding-top: 75px;
  font-family: 'quicksandbold';
  color: #34495e;
  text-align: center;
}
.region.active p{
  color: white;
}

.america{
  background-image: url('/assets/usa.png') !important;
}

.uk{
  background-image: url('/assets/uk.png') !important;
}
.germany{
  background-image: url('/assets/germany.png') !important;
}
.canada{
  background-image: url('/assets/canada.png') !important;
}
.netherland{
  background-image: url('/assets/netherlands.png') !important;
}
.singapore{
  background-image: url('/assets/singapore.png') !important;
}

.required input[type="text"]{
  width: 50%;
}
.signupbutton{
  width: 70%
}