// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$mainbordercolor:  #e4e4e4;
$mainborderwidth: 1px;
$separatorbordercolor: #e4e4e4;
$materialred: #e57373;
.notify-alert{
  border: 2px solid $materialred;
  border-radius: 2px;
  background-color: white;
  color: $materialred;
  // font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  span{
    font: normal normal bolder 1.2em/1 'quicksandregular';
    text-align: center;
  }
  .notify-icon{
    padding:10px;
  }
}

.no-domains,.no-records{
  text-align: center;
  margin-top: 75px;
}
.domain-title{
  font-weight: bolder;
}
.domains,.new-domain,.new-record,.records{
  border: $mainborderwidth solid $mainbordercolor;
  border-radius: 3px;
  padding:25px;
  margin:25px;
  margin-bottom:50px;
  h3,h2{
    margin-top: 0;
    font-weight: bolder;
  }
}
.info{
  padding-top:8px;
  font-size: 1.3em;
  font-family: 'quicksandregular';
  font-weight: bolder;
}
input.required{
  background: #fcfcfc;
  border: 1px solid #e7e7e7;
  margin: 20px auto;
  margin-right: 15px;
  padding: 15px;
  width: 40%;
  border-radius: 0px;
  font-size: 18px;
  transition: opacity 0.4s;
  text-align: left;
  height: auto;
  transition: all 0.5s ease;
  &:active,&:focus{
    border:1px solid #3190e7; //#66afe9;
    &.ipaddress{
      border-bottom: 0;
    }
    outline: 0;
  }
}
div.dropdown{
  width: 40%;
  margin-right: 15px;
  input{
  width: 100%;
  }
}
.add-domain-submit{
  width: auto;
  display:inline-block;
  margin: 20px auto;
  padding:15px;
  font-size:18px;
  vertical-align: inherit;
  border:2px solid #3190e7;
  border-radius: 3px !important;
  transition: all 0.5s ease;
  &:active,&:focus,&:visited,&:hover{
    color:white !important;
    border-color: #1569B7 !important;
    background-color: #1569B7 !important;
  }
}
.domaintip{
  margin-left:5px;
  font-size:80%;
}
div.tooltip-inner{
  max-width: 350px;
}
.instances-list{
  input{
    margin-bottom: 0px !important;
  }
  .dropdown-menu{
    margin:0;
    padding: 0;
    width: 100%;
    border-radius: 0px;
  }
 .btn{
  width: 100%;
  margin: 0;
  }
}
div.result{
  width: 100%;
  border-radius: 0px;
  padding:15px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bolder;
  outline: 1px solid #3190e7;
  transition: all 0.5s ease;
  &:hover{
    background:#3190e7;
    color:white;
  }
}
.domains{
  h3{
    padding-bottom:15px;
  //  border-bottom: 2px solid $mainbordercolor;
    }
}
.domain-list:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.domain-record div{
  vertical-align: middle !important;
  padding:25px;
  display: inline-block;
  &.domain-button{
    float:right;
    font-size: 1.1em;
    //vertical-align: middle;
    margin-top: 0.3em;
    padding-left: 0px;
  a{
    text-decoration: none;
  }
  }
}
.domain-name{
  padding-left: 0 !important;
  font-weight: bolder;
  font-size: 1.4em;
  //padding:20px;
}

.delete-domain,.view-records{
  padding:12px 20px;
  font-family: 'quicksandbold';
  font-weight: bolder;
  border:1px solid #3190e7;
  border-radius: 3px !important;
  background-color:#3190e7;
  transition: all 0.5s ease;
  color:white;
  &:hover,&:active,&:focus{
    background-color: #1569B7;
    border-color: #1569B7;
    color:white;
  }
}
.delete-domain{
  color:red;
  background: white;
  padding: 12px 26px;
  border: 1px solid red;
  &:hover,&:active,&:focus{
    background-color:red;
    color:white;
    border-color:red;

  }
}
.domain-record:not(:first-child){
  border-top: 2px solid $separatorbordercolor;
}
.new-domain-wrapper{
  padding-left: 50px;
}
.record-type{
  text-align: center;
  font-family: 'quicksandbold';
  font-weight: bolder;
  width: 100%;
  padding: 0.5em;
  color:white;
  margin:10px;
  font-size: 1.3em;
  border-radius: 3px;
  color:#bbb;
  background-color: #ECECEC;
  transition: all 0.7s ease;
  &.active,&.active:hover{
    color:white;
  &.a{
    background-color: #ef5350;
  }
  &.aaaa{
    background-color: #AB47BC;
  }
  &.cname{
    background-color: #26A69A;
  }
  &.mx{
    background-color: #66BB6A;
  }
  &.txt{
    background-color: #FF7043;
  }
  &.srv{
    background-color: #8D6E63;
  }
  }
  &:hover{
    background-color: #dedede;
    color:#666;
    cursor:pointer;
  }
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.new-record-type{
//  display:none;
}
input.record{
  background: #fcfcfc;
  border:1px solid #e7e7e7;
  padding:15px;
  margin:20px 15px 20px 10px;
  // margin-right: 15px;
  width: 100%;
  font-family: 'quicksandbold';
  font-weight: bolder;
  font-size:1.2em;
  transition:all 0.4s;
  height: auto;
  transition: all 0.5s ease;
  &:active,&:focus{
    border:1px solid #3190e7; //#66afe9;
    outline: 0;
  }
}
.add-record-button,.update-record-button,.delete-record-button{
  font-size: 1.2em;
  background-color: #3190e7;
  color:white;
  font-family: 'quicksandbold';
  font-weight: bolder;
  border: 1px solid #3190e7;
  border-radius: 3px !important;
  padding:15px;
  width: 100%;
  margin:20px 10px;
  transition: all 0.5s ease;
  &.inactive,&.inactive:hover,&.inactive:focus,&.inactive:active{
    color:#bbb;
    background-color: #ececec;
    border-color: #ececec;
    cursor: not-allowed;
  }
  &:active,&:focus,&:hover{
    background-color: #1569B7;
    color:white;
    border-color: #1569B7;
  }
}
.delete-record-button{
  color:red;
  border-color: red;
  background-color: white;
  &:hover,&:active,&:focus{
    background-color: red;
    color:white;
    border-color: red;
  }
}
input[type="radio"]{
  visibility: hidden;
  display:none;
}
