// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user{
    margin: 0 auto;
    width: 400px;
    padding: 40px;
    padding-bottom: 0px !important;
    border-radius: 3px;
    background: #3190e7;
}
.alert{
  margin-top:0px !important;
}
