// Place all the styles related to the ticket controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alert{
  margin-top: 20px;
}
//Reusable
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.username{
  color:#3190e7 !important;
  font-size:110%;
  float:left;
}
.date{
  font-family:'quicksandregular';
  font-size: 80%;
  float:right;
}

//Ticket Nav related CSS(Open Tickets,Closed Tickets)
.support-nav-row{
  margin-top:50px;
}
.support-nav{
  li{
    font-family:'quicksandbold';
    .btn{
      padding:15px;
    }
  }
  li.nav-ticket{
    a{
      color:#bbb;
      transition: all 0.5s ease;
      &:hover{
        color:#454545;
        background-color: white;
      }
    }
    &.current a{
      color:#676767 !important;
      background-color: #ececec;
    }
  }
}
//Sidebar CSS
.notickets{
  font-family:'quicksandbold';
  color:#666;
  font-size: 110%;
}
.tickets{
  font-family: 'quicksandbold';
  color:#666;
  text-align:left;
  margin-top: 25px;
  .row{
    padding-bottom:0px;
    margin-bottom: 0px;
  }
  .ticket{
    margin-bottom:25px;
    border-left: 2px solid #c2c2c2;
    display:block;
    text-decoration:none;
    color:inherit;
    margin-top: 25px;
    transition: all 0.7s ease;
    .title{
      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 900 !important;
      font-family: 'quicksandregular';
      font-size: 125%;
      padding: 10px 0px 3px 10px;
    }
    &:hover{
      border-left: 2px solid #2bca58;
    }
    &.current{
      border-left: 2px solid #3190e7;
    }
  }
  .buttonborder:not(:last-child){
    border-bottom: 1px solid #c0e6f6;
  }
  .username{
    padding:0 10px;
  }
  .date{
    padding: 5px;
  }
}
//Main Ticket Body
.ticket-body,.new-reply{
  margin-top: 25px;
  color: #666;
  border: 1px solid #c0e0f6;
  border-radius: 3px;
}
.ticket-body{
  .message-info{
    padding:25px 25px 0 25px !important;
    .message-user{
      font-family: 'quicksandbold';
    }
    .message-date{
      word-break: normal;
      color: #666;
      font-size: 100%;
      font-weight: 900;
    }
  }
  .message-title{
    //margin-bottom:25px;
    font-weight: 900;
    padding: 25px;
  }
  .message-message{
    padding:0 25px 25px 25px;
    font-size: 100%;
    color: #666;
    font-family: 'quicksandbold';
  }
  .reply-message{
    padding-top: 25px;
    padding-bottom:0px !important;
  }
}
//Reply CSS
.reply{
  padding-bottom:25px;
  border-top: 1px solid #c0e0f6;
}

//New-reply CSS
.new-reply{
  padding: 25px;
  .reply-heading{
    font-family: 'quicksandbold';
  }
}
.reply-submit-button{
  padding:15px;
  margin:0.5em;
  min-width: 8em;
  font-family: 'quicksandbold';
  border: 1px solid #3190e7;
  &:hover{
    background-color: #1569B7 !important;
    border: 1px solid #1569B7 !important;
  }
}
.closeticket{
  float: right !important;
  border-radius: 3px !important;
  border: 1px solid #ececec !important;
  color:#676767 !important;
  background-color: #ececec !important;
  transition: all 0.7s ease;
  &:hover{
    background-color: #c2c2c2 !important;
    border: 1px solid #c2c2c2 !important;
  }
}
//'Create Ticket'Blue button on top right
.createticket,.createreply{
  float: right !important;
  background-color:#3190e7;
  color: white !important;
  border-radius: 3px !important;
  transition: all 0.5s ease;
  a:hover{
    background-color: #1569B7 !important;
  }
}
//Creating New Ticket Related CSS
.newticket{
  margin-top: 25px;
  border: 1px solid #c0e0f7;
  border-radius: 3px;
  padding: 25px;
  h3{
    font-weight: bolder;
  }
}

.required textarea{
  min-height: 200px;
  resize:none;
}
.disabled{
  color: #666 !important;
  background-color: #ececec !important;
}
.closed-ticket{
  font-family:'quicksandbold';
  background-color: #FFFF5C;
  color:#666;
  padding:20px;
  margin-top:25px;
}
