<div class="container" style="padding: 50px 0px;">
  <h1 style="padding-bottom:25px;border-bottom: 1px solid #e6e6e6;">Copyright Policy</h1>
  <p>
    We have a strict policy towards copyright infringement.
  </p>
  <h3>Reporting Copyright Infringement</h3>
  <p>
    If you believe that material or content hosted by us are violating a copyright,you can send us an e-mail at <span class="bold">abuse@lideploy.com</span> with the following information:
  </p>
  <ol>
    <li>Electronic signature of person authorized to act on behalf of the Copyright owner.</li>
    <li>Identification of works or materials being infringed, this includes but is not limited to atleast an URL that is infringing the copyright as well as reference or link to the material or content that you claim to be infringing.</li>
  </ol>
  <p>
    Upon receiving these information,we will investigate the matter as soon as possible and reach out to you with the result or asking for additional information if needed. You can contact us at <span class="bold">support@lideploy.com</span> if you need any assistance.
  </p>
</div>
<%= render 'shared/footer' %>
