<% title "Privacy Policy" %>
<div class="container" style="padding: 50px 15px;">
  <h1 style="padding-bottom:25px;border-bottom: 1px solid #e6e6e6;">Privacy Policy</h1>
  <p>
    This Privacy Policy describes the policies of LiDeploy.com collection of Data.LiDeploy reserves the right to update the privacy policy at any time,with or without prior notice.If the changes made to the privacy policy constitute a material change,LiDeploy would notify you(the Subscriber) via either E-mail or through website notifications.
  </p>
  <h3>What Information Does LiDeploy Collect?</h3>
    <p>
      LiDeploy currently only collects E-mail from Subscribers at their time of registration.Additionally we may also collect information sent to us by paypal upon completion of an electronic transaction.
    </p>
  <h3>Do We Share any Personal Information?</h3>
    <p>
      LiDeploy currently doesn't share your personal information with any third parties nor it plans to in the near future. Your personal data is secured with us.
    </p>
  <h3>How to Delete my Personal Information or Account?</h3>
    <p>
      If you wish to delete your Personal Information stored with LiDeploy,you can do so by emailing us at <span class="bold">support@lideploy.com</span> anytime.Do note that requesting to delete personal information will also delete your account and you won't be able to retrieve it back ever again.
    </p>
  <h3>Modifications to Privacy Policy</h3>
    <p>
      This privacy policy may be updated from time to time. On material changes to this privacy policy we may notify you either by E-mail or through website notifications.
    </p>
</div>
<%= render 'shared/footer' %>
