<% content_for :head do %>
  <style>
    div ol p{
      padding-bottom:25px;
      border-bottom: 1px solid #e6e6e6;
    }
    .contact{
      font-size: 125%;
      padding-bottom: 250px;
      margin-bottom: 250px;
    }
    div ol h3{
      padding-bottom: 10px;
    }
    h2{
      padding-top: 50px;
    }
  </style>
<% end %>
<div class="container" style="padding: 50px 0px;">
  <h1 style="padding-bottom:25px;border-bottom: 1px solid #e6e6e6;">Terms of Service</h1>
  <p>
    LiDeploy, including LiDeploy's subsidiaries, affiliates, divisions, contractors and all data sources and suppliers,collectively “LiDeploy”, “we”, “us” or “our”, welcomes you to lideploy.com (the “Website”).
  </p>
  <p>
    These terms and conditions of service with LiDeploy’s Privacy Policy, located at lideploy.com/legal/privacy and DMCA Copyright Policy located at lideploy.com/legal/copyright, the “Terms of Service” or “Agreement”, govern your use of the Website and the services, features, content or applications operated by LiDeploy (together with the Website, the “Services”), and provided to the Subscriber (the “Subscriber”, “user”, “sub-user”, “you” or “your”).
  </p>
  <p>
    Please read these Terms of Service carefully before using the Services. These Terms of Service apply to all users of the Services. If you are using the Services on behalf of an entity, organization, or company, you represent and warrant that you have the authority to bind such organization to these Terms of Service and you agree to be bound by these Terms of Service on behalf of such organization.
  </p>
     Agreeing to use the Services by clicking “Register” constitutes your acceptance and agreement to be bound by these Terms of Service, and all other operating rules, policies and procedures that may be published from time to time on the Website by us, each of which is incorporated by reference and each of which may be modified from time to time without notice to you. You acknowledge receipt of our Privacy Policy. If you ordered the Services on the Website, use the Website, or otherwise engage in any electronic transaction with respect to the Services, then you agree to receive any updates to our Privacy Policy by accessing the Website.
  </p>
  <p>
    These Terms of Service provide that all disputes between you and LiDeploy will be resolved by BINDING ARBITRATION. YOU AGREE TO GIVE UP YOUR RIGHT TO GO TO COURT TO ASSERT OR DEFEND YOUR RIGHTS UNDER THIS CONTRACT (except for matters that may be taken to small claims court). Your rights will be determined by a NEUTRAL ARBITRATOR and NOT A JUDGE OR JURY and your claims cannot be brought as a class action. Please review Section 15 below for the details regarding your agreement to arbitrate any disputes with LiDeploy. NOTHING IN THESE TERMS OF USE SHALL AFFECT ANY NON-WAIVABLE STATUTORY RIGHTS THAT APPLY TO YOU. If any provision or provisions of these Terms of Use shall be held to be invalid, illegal, or unenforceable, the validity, legality and enforceability of the remaining provisions shall remain in full force and effect.
  </p>
  <p>
    LiDeploy reserves the right to modify these Terms of Service at any time without prior notice to you.But should the change constitute to a material change to these Terms of Service,we will notify you either by E-mail or via the website.Modifications shall take effect immediately when posted on the Website and by continuing to use our Services you agree to the modified Terms of Service.
    If you do not agree to any change to these Terms of Services,then you must immediately stop using the Services.
  </p>
  <ol>
    <h3>
    <li>Registration</h3>
      <p>
        The services are not targeted towards,nor intended for use by,anyone below the age of 13.By using our Services,you warrant that you are 13 years of age or older.If you're under the age of 13,you must not use our services.To use the services you must register for an account (via the "Register" page) and provide accurate information.You can delete your account by submitting a request to the support email("support@lideploy.com"). LiDeploy will not be responsible for any loss/damage if you provided us with inaccurate information or didn't keep your account secure.
      </p>
    </li>
    <h3>
    <li>Use</h3>
      <p>
        By using the Services you(the "Subscriber") agree to not use our service to violate any laws including but not limited to a)distribution of child pornography,b)forger identity theft, c)invasion of privacy, d)unlawful sending of electronic messages, e)improper data collection activities, f)securities violations, wire fraud, money laundering, or terrorist activities,f)false advertising. Subscribers shall use only those IP addresses that are assigned to them by LiDeploy. Subscribers may not use the Services to distribute or execute any action directed by any type of injurious code including but not limited to trojans,key loggers,viruses,botnets,denial of service attacks. Subscribers shall not send bulk email utilizing our services unless they maintain a double-authorized list of subscribed members that includes their relevant contact information.Subscribers are forbidden from taking any action that would result in their IP addresses, or any IP address associated with LiDeploy being placed on the Spamhaus.org blacklist.
      </p>
    </li>
    <h3>
    <li>Violation of Copyright,Trademark,Patent or Trade Secret</h3>
      <p>
        Subscribers may not use the Services in violation of the copyrights,trademarks,patents or trade secrets of third parties nor shall they utilize the Services to publish such materials that would expose them to public view in violation of the law.The provisions of the Digital Millennium Copyright Act of 1998 (“DMCA”) (as required under 17 U.S.C. §512) and all other applicable international trademark, copyright, patent or other intellectual property laws will apply to issues presented by allegations of copyright violations by third parties. LiDeploy will, in appropriate circumstances, terminate the accounts of repeat violators. If a third party believes that a Subscriber of LiDeploy is violating its intellectual property rights, it should notify us by email at <span class="bold">abuse@lideploy.com</span> at any time. A notification should include information reasonably sufficient to permit LiDeploy to locate the allegedly infringing material, such as the IP address or URL of the specific online location where the alleged infringement is occurring. No parts of LiDeploy's website may be reproduced,modified,or distributed in any form, or manner without the prior written permission of LiDeploy.
      </p>
    </li>
    <h3>
    <li>Payments and Billing</h3>
      <p>
        LiDeploy currently accepts Payment via Paypal.To keep using an Instance,a Subscriber must renew it before its expiry date as specified in the dash board. If you choose to destroy an instance,you do not get any money back for unused duration,i.e Payment is final and there are no refunds.LiDeploy will 3 e-Mails -  a)day before the instance expires,b)day on which the instance expires,c)day after which the instance expires.If the Subscriber still fails to pay the amount,LiDeploy reserves the right to destroy instances that are overdue.
      </p>
    </li>
    <h3>
    <li>Backup</h3>
      <p>
        Subscriber is solely responsible for the preservation of Subscriber's data which Subscriber saves onto an Instance.
      </p>
    </li>
    <h3>
    <li>Account Termination</h3>
      <p>
        LiDeploy reserves the right to terminate your access to all or any part of the Services at any time,with or without notice,effective immediately,including but not limited to as a result of your violation of any of these Terms of Service or any law or if you misuse system resources.Any such termination may result in the forfeiture and destruction of information associated with your account.
      </p>
    </li>
  </ol>
  <h2>Contact Us</h2>
  <span class="contact">You can always contact us by sending an email to <span class="bold">support@lideploy.com</span> or by creating a support ticket.</span>
</div>
<%= render 'shared/footer' %>
